# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional eslint cache
.eslintcache

# Dependency directories
node_modules/
build/
data/
cloud/

# Yarn Integrity file
.yarn-integrity


# IDE Specific
.idea/
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# next.js build output
.next
.next/*

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

.DS_Store
Dockerfile
/src/config/env.js
