.modalClass {
  max-width: 400px;
  width: fit-content;
  height: fit-content;
  /* height: calc(100% - 350px); */
}
.modalContentClass {
  padding: 0;
  height: calc(100% - 43px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px 0;
}
.container h1 {
  grid-column: 1/3;
}
.container p {
  margin-top: 0;
}
.creator {
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.about {
  text-decoration: underline;
}
.table {
  border-collapse: collapse;
  margin-bottom: 60px;
}
.table td {
  border: 1px solid black;
}
.table td {
  text-align: center;
}
.socialLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.socialLinkContainer a {
  position: relative;
}
.socialLinkContainer a::after {
  content: '·';
  position: absolute;
  right: -14px;
}
.socialLinkContainer a:last-child::after {
  content: '';
}
