.taskBoard {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.taskStackContainer {
    display: flex;
    flex-direction: column;
}
.groupContainer {
    display: grid;
    align-items:center;
    grid-template-columns: 8fr 1fr 1fr;
}
.noStatusColumn {
    grid-template-columns: 9fr 1fr;
}
.groupTitle {
    padding: 0 8px;
    font-size: 1rem;
}
.groupTitle span {
    margin-left: 8px;
    font-size: 1rem;
    color: rgba(var(--secondary-color), 0.4);
}
.deleteIcon {
    text-align: left;
    padding-top: 6px;
}
.deleteIcon img {
    min-width: 18px !important;
    min-height: 18px !important;
}
.deleteIcon:hover{
    background: rgba(var(--secondary-color), 0.08);
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-switch);
    width: 90%;
    margin: 0;
}
.newTitleWrapper {
    display: flex;
    height: 24px;
    align-items: center;
    font-size: 0.875rem;
    padding: 2px 4px;
    border-radius: 4px;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background: rgba(242, 241, 238, 0.6);
}
.newTaskTitleWrapper {
    box-shadow: none;
    background: none;
    width: 90%;
}
.newGroupTitleWrapper {
    margin: 1rem auto;
}
.newGroupTitleWrapper:focus-within {
    -webkit-box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
    -moz-box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
}
.newGroupTitle {
    border: none;
    background: none;
    width: 100%;
    display: block;
    resize: none;
    padding: 0px;
    color: var(--color-switch);
}
.newGroupTitle:focus {
    outline: 0;
}
.untitledTask {
    caret-color: rgb(128,128,128);
    font-weight: 500;
    color: rgb(128,128,128);
    -webkit-text-fill-color: rgba(128,128,128, 0.8);
  }
.addNewTask {
    height: 32px;
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    border: none;
    align-items: center;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 8px;
    color: rgba(var(--secondary-color), 0.4);
    background: none;
    transition: background 200ms ease-in-out 0s;
}
.addNewTask:hover{
    background: rgba(var(--secondary-color), 0.08);
}
.addNewTaskPlus {
    font-size: 24px;
}
.addGroupBtn {
    min-height: 28px;
    margin: 16px 0;
}
