.card {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}
.card svg {
  fill: var(--color-switch);
  -webkit-text-fill-color: rgba(128,128,128, 0.8);
}

.deleteBtn {
  background-color: transparent;
  border: none;
}

.deleteBtn svg {
  width: 20px;
}

.deleteBtn :hover {
  cursor: pointer;
}
