.main {
  height: calc(100vh - 68px);
  padding: 24px 20px;
  margin: 0 auto;
  overflow: scroll;
}
.main section {
  padding-right: 30px;
  width: max-content;
}
@media only screen and (max-width: 600px) {
  .main {
    padding: 16px;
  }
  .main section {
    padding-right: 12px;
  }
}

