.modalClass {
  max-width: 400px;
  width: fit-content;
  height: fit-content;
}
.modalContentClass {
  padding: 0;
}
.container hr {
  margin-bottom: 20px;
}
.themeContainer {
  margin-bottom: 40px;
}
.title {
  text-decoration: underline;
  margin-block: 0;
}
.subtitle {
  font-size: 0.75rem;
  margin-top: -5px;
  margin-bottom: 16px;
}
.theme {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.theme div {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.theme div:hover {
  cursor: pointer;
}
.lightTheme {
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.darkTheme {
  background-color: #121212;
  border: 1px solid #282828;
}
.active {
  position: relative;
}
.active::after {
  content: '✅';
  position: absolute;
  left: 40px;
  top: 40px;
}
.resetBoard {
  display: flex;
  justify-content: space-between;
}
.dangerBtn {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  padding: 6px 12px;
  border: 1px solid #d43f3a;
  border-radius: 2px;
  background-color: #d9534f;
}
.dangerBtn:hover {
  cursor: pointer;
}
