.modalBody {
  padding-top: 10px;
}
.actionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(55, 53, 47, 0.4);
  border-radius: 4px;
  background-color: rgba(55, 53, 47, 0.1);
  padding: 8px 12px;
}
.actionTitle {
  margin-block: 0;
  color: rgba(55, 53, 47, 0.8);
}
.deleteBtn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
}
.deleteBtn:hover {
  cursor: pointer;
  background: rgba(55, 53, 47, 0.08);
}
.deleteBtn img {
  min-width: 18px !important;
  min-height: 18px !important;
}
.deleteBtn div {
  margin-left: 0.5rem;
}
.title {
  font-size: 2.5rem;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  color: rgb(55, 53, 47);
  /* -webkit-text-fill-color: rgba(55, 53, 47, 0.15); */
}
.wrapper {
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  border: none;
}
.titleInput input {
  font-size: 2.5rem;
  font-weight: bold;
  margin-block: 1.67rem;
  border: none;
}
.titleInput input:focus {
  outline: 0;
}

.descriptionInput input {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding-top: 10px;
}
.descriptionInput input:focus {
  outline: 0;
}



@media only screen and (max-width: 600px) {
  .title,
  .titleInput input {
    margin-block: 0;
    font-size: 1.75rem;
  }

  .wrapper {
    font-size: 1.75rem;
    margin-block: 1rem;
  }
}
